/* ================= PROCESSING SCREEN ================= */

#processing_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(4px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loader_box {
    text-align: center;
}

#bank_loader {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid #d0e4ff;
    border-top: 6px solid steelblue;
    animation: spin 1s linear infinite;
    margin: auto;
}

#processing_text {
    margin-top: 18px;
    font-size: 16px;
    font-weight: 600;
    color: #2b4d7a;
}

/* loader spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* ================= SUCCESS SCREEN ================= */

#success_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    animation: fadeIn 0.5s ease;
}

#success_box {
    text-align: center;
}

/* Green circle tick */
#success_circle {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: seagreen;
    color: white;
    font-size: 50px;
    line-height: 95px;
    margin: auto;
    font-weight: bold;
    animation: pop 0.5s ease;
}

#success_text {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 600;
    color: seagreen;
}

#redirect_text {
    margin-top: 8px;
    font-size: 14px;
    color: gray;
}


/* animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        transform: scale(0.3);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}