*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thank_you_heading{
    color: rgb(90, 160, 90);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
